<!DOCTYPE html>
<html lang="eng">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Shane Co - Handlebars Demo - Kaylah Malillos</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="assets/css/style.css" type="text/css" />
</head>

<body>

    <header>
        <div class="top-nav center-align">
            <div class="top-nav center-align">
                <i class="fas fa-phone icon"></i>
                <i class="fas fa-map-marker-alt icon"></i>
                <i class="fas fa-question-circle icon"></i>
            </div>
            <div class="top-nav center-align">
                <a href="/"><img src="assets/imgs/ShaneCo.png" alt="Shane Company Logo" /></a>
            </div>
            <div class="top-nav center-align">
                <i class="fas fa-search icon"></i>
                <i class="far fa-user icon"></i>
                <i class="fas fa-shopping-cart icon"></i>
            </div>
        </div>

        <nav class="navbar">
            <a href="/menu"> Engagement </a>
            <a href="#"> Wedding </a>
            <a href="#"> Diamonds and Gems </a>
            <a href="#"> Jewelry </a>
            <a href="#"> Personalize </a>
            <a href="#"> About </a>
        </nav>
    </header>


    {{{body}}}

    <footer class="footer-style">
        <div class="container">
            <br />
            <div class="row">
                <div class="col-2">
                    <h5>Contact</h5>
                    <li>
                        <i class="fas fa-envelope-square"></i> Email Us
                    </li>
                    <li>
                        <i class="fas fa-phone"></i> (866) 467-4263
                    </li>
                    <li>
                        <i class="fas fa-map-marker-alt"></i> Find a Store
                    </li>
                </div>
                <div class="col-2">
                    <h5>About</h5>
                    <li>
                        Who We Are
                    </li>
                    <li>
                        Frequenly Asked Questions
                    </li>
                    <li>
                        In The News
                    </li>
                </div>
                <div class="col-3">
                    <h5>Customer Service</h5>
                    <li>
                        Lifetime Warranty
                    </li>
                    <li>
                        Programs
                    </li>
                    <li>
                        Order Tracking
                    </li>
                </div>
                <div class="col-5">
                    <h5>Follow Us</h5>
                    <li>
                        <i class="fab fa-facebook social"></i>
                        <i class="fab fa-twitter-square social"></i>
                        <i class="fab fa-pinterest social"></i>
                        <i class="fab fa-instagram social"></i>
                        <i class="fab fa-youtube-square social"></i>
                    </li>
                    <br />
                    <li>
                        Be the first to know about special offers and more!
                    </li>
                    <li>
                        <form class="d-flex">
                            <input class="form-control" type="email" placeholder="Email Address" aria-label="email">
                            <button class="btn btn-light my-2 my-sm-0" type="submit">Submit</button>
                        </form>
                    </li>
                </div>
            </div>
        </div>
        <br />
    </footer>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/df95693409.js" crossorigin="anonymous"></script>
</body>

</html>