    <!-- Hero Image -->
    <div class="hero-banner">
        <img src="assets/imgs/hero1.jpg" class="hero-img center-align" alt="Diamond Ring" />
        <div class="hero-text">
            <h1>Unwrap the Magic</h1>
            <button class="btn btn-light">Shop the Gift Guide</button>
        </div>
    </div>

<!-- Design Ring Section -->
<div class="section center-align">
    <img class="center-align" src="assets/imgs/design1.jpg" />
    <div class="design-ring">
        <h2 class="">Design Your Dream Ring</h2>
        <img src="assets/imgs/design2.jpg" />
    </div>
</div>

<!-- Gift Ideas Section -->
<div class="section">
    <h2 class="center-align">Popular Gift Ideas</h2>
    <div class="gift-section">
        <div class="gift-block">
            <img class="gift-imgs" src="assets/imgs/gift1.jpg" />
            <h4>Diamonds</h4>
            <p>Sparkling stones make the perfect gift.</p>
            <button class="gift-btn">Shop Now</button>
        </div>
        <div class="gift-block">
            <img class="gift-imgs" src="assets/imgs/gift2.jpg" />
            <h4>Sapphire</h4>
            <p>Hand-picked sapphires in a multitude of shades.</p>
            <button class="gift-btn">Shop Now</button>
        </div>
    </div>
    <div class="gift-section">
        <div class="gift-block">
            <img class="gift-imgs" src="assets/imgs/gift3.jpg" />
            <h4>Pearl</h4>
            <p>Timeless classics she'll treasure forever.</p>
            <button class="gift-btn">Shop Now</button>
        </div>
        <div class="gift-block">
            <img class="gift-imgs" src="assets/imgs/gift4.jpg" />
            <h4>Gemstones</h4>
            <p>Vibrant, colorful jewelry for every person.</p>
            <button class="gift-btn">Shop Now</button>
        </div>
    </div>
</div>