<div class="page-banner">
    <img src="https://via.placeholder.com/1600x500" class="page-img center-align" alt="Diamond Ring" />
    <div class="page-text">
        <h1>{{title}} PAGE</h1>
    </div>

</div>

<!-- Gift Ideas Section -->
<div class="section">
    <h2 class="center-align">{{shop}}</h2>
    <div class="gift-section">
        <img class="section" src="https://via.placeholder.com/300" />
        <img class="section" src="https://via.placeholder.com/300" />
        <img class="section" src="https://via.placeholder.com/300" />
        <img class="section" src="https://via.placeholder.com/300" />
        <img class="section" src="https://via.placeholder.com/300" />
        <img class="section" src="https://via.placeholder.com/300" />
        <img class="section" src="https://via.placeholder.com/300" />
        <img class="section" src="https://via.placeholder.com/300" />
        <img class="section" src="https://via.placeholder.com/300" />
    </div>
</div>