<div class="hero-banner">
    <img src="assets/imgs/hero1.jpg" class="hero-img center-align" alt="Diamond Ring" />
    <div class="hero-text">
        <h1>{{title}} PAGE</h1>
    </div>

</div>

<!-- Gift Ideas Section -->
<div class="section">
    <h2 class="center-align">{{shop}}</h2>
    <div class="gift-section">
        <img class="section" src="https://via.placeholder.com/300" />
        <img class="section" src="https://via.placeholder.com/300" />
        <img class="section" src="https://via.placeholder.com/300" />
        <img class="section" src="https://via.placeholder.com/300" />
        <img class="section" src="https://via.placeholder.com/300" />
        <img class="section" src="https://via.placeholder.com/300" />
        <img class="section" src="https://via.placeholder.com/300" />
        <img class="section" src="https://via.placeholder.com/300" />
        <img class="section" src="https://via.placeholder.com/300" />
    </div>
</div>